{% extends "base.html" %}

{% block content %}
<!-- SECTION -->
<div id="newsletter" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="newsletter">

                        <p><strong>Forgot Password</strong></p>
                        <form action="{% url 'forgot_password' %}" method="post">
                            {% csrf_token %}
                            <div class="col order-details">
                                {% include 'includes/alerts.html' %}
                                <div class="form-group">
                                    <input class="form-control" type="email" placeholder="Enter Your Email" name="email"
                                        required>
                                </div>
                                <button type="submit" class="primary-btn order-submit">Submit</button>
                                {{ form.email.errors }}
                                {{ form.non_field_errors }}
                            </div>
                            <div class="form-group">
                                <br>Remembered password?<a href="{% url 'login' %}" class="text-center mt-6">
                                    <strong>Login</strong></a>
                            </div> <!-- form-group form-check .// -->
                            <div class="form-group">
                                Don't have account? <a href="{% url 'register' %}"><strong class="text-center mt-1">Sign
                                        up</a></strong>
                                <br><br>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
{% endblock %}